<body>
<form [formGroup]="addstudent" (ngSubmit)="addStudent()"  >
    <br> 

    Last Name <input formControlName="nom" [(ngModel)]="nom" placeholder="Last Name" style="margin:5px;"  ><br><br> 
    <div *ngIf=" submitted && addstudent.get('nom').errors" >
            <div *ngIf="addstudent.get('nom').errors.required">

                    <div class="alert alert-danger" role="alert" style="width:20%;margin:auto" >
                            Last Name is required 
                          </div> 
                          <br>
                
            
            </div>
            <div *ngIf="addstudent.get('nom').errors.pattern" >
                    <div class="alert alert-danger" role="alert" style="width:20%;margin:auto" >
                            Last Name contains only letters 
                          </div>
            
            </div>

    </div>


    First Name <input formControlName="prenom" [(ngModel)]="prenom" placeholder="First Name" style="margin:5px;"  ><br><br>
    <div *ngIf=" submitted && addstudent.get('prenom').errors" >
        <div *ngIf="addstudent.get('prenom').errors.required" > 
            
                <div class="alert alert-danger" role="alert" style="width: 20% ;margin:auto ">
                        First Name is required 
                      </div> 
                      
        
        
        </div>




        <div *ngIf="addstudent.get('prenom').errors.pattern" >
            
            
                <div class="alert alert-danger" role="alert" style="width:20% ;margin:auto " >
                        First Name contains only letters
                      </div>            
        
        
        </div>

    </div>

    <br>
    <button type="submit" class="btn btn-info" style="margin:5px;" > Add </button> 



</form>
<button (click)="GoBack()"  class="btn btn-secondary" style="margin:5px;" > Go back </button>



</body>